/***********************************************************/
/***********General settings********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

/***********************************************************/
/***********Header settings********************************/
.header {
  text-transform: uppercase;
  max-width: 200rem;
  height: 8rem;
  padding: 2.2rem 4.4rem;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-link:link,
.nav-link:visited {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.nav-link:after {
  content: " ";
  position: absolute;
  width: 105%;
  transform: skew(0.512rad);
  transform: scale(0, 0);
  height: 4px;
  bottom: 0;
  left: 0;
  right: 2rem;
  background-color: #4e0999;
  transform-origin: bottom left;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}
.nav-links {
  display: flex;
  gap: 4rem;
}
.logo {
  color: #fff;
}
.logo:link,
.logo:visited {
  text-decoration: none;
  color: #fff;
}
.logo:hover,
.logo:active {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
/***********************************************************/
/***********hero settings********************************/
.hero {
  opacity: 0;
  transform: translateY(-80px);
}
.background {
  background-color: #000;
  background-image: url(img/background/nebula.webp);
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: #fff;
  margin: 6rem 0 0 15rem;
}

.heading-primary {
  font-size: 8.2rem;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 2.4rem;
}
.heading-description {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.8;
}
.animation {
  background-image: linear-gradient(
    -250deg,
    #0c2442 42%,
    #620fba 57%,
    #ff1361 76%,
    #fff800 80%
  );
  /* background-size: auto auto; */
  background-size: 147%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: textclip 2.7s linear infinite;
}
/*****************************************************
**************Animation keyframes****************************/
@keyframes textclip {
  to {
    background-position: 320% center;
  }
}
@keyframes color {
  to {
    background-position: 320% center;
  }
}

/***********************************************************/
/***********buttons settings********************************/
.buttons {
  margin: 5rem 0 0 15rem;
  display: flex;
  gap: 5rem;
}
.btn {
  border-radius: 13px;

  transition: all 0.4s;
  cursor: pointer;
  margin-right: 3rem;
}
/***********buttons primary********************************/
.btn-primary-animation {
  background-image: linear-gradient(
    -250deg,
    #0aa6c9 24%,
    #ff1361 36%,
    #fff800 45%,
    #4e0999 35%
  );
  background-size: auto auto;
  background-size: 270% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: color 2.7s linear infinite;
}
.btn-primary:link,
.btn-primary:visited {
  display: inline-block;
  font-size: 2.6rem;
  padding: 1.3rem 3.2rem;
  color: #fff;
  border: 2px solid #4e0999;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}
.btn-primary:hover,
.btn-primary:active {
  transform: scale(1.2);
}

/***********buttons secondary********************************/

.btn-secondary:link,
.btn-secondary:visited {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  font-size: 2.2rem;
  padding: 1.55rem 3.2rem;
  transition: all 0.4s;
  font-weight: 500;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}
/******************text apearing effect**********/
/***********************************************/
.active {
  transition: ease-in-out 1.5s;
  opacity: 1;
  transform: translateY(0px);
}
/*****************features section******************/
/*****************************************************/
.features-section {
  margin: 8rem auto;
  max-width: 150rem;
  padding: 4rem 14rem;
}

.features-buttons {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  justify-content: space-evenly;
  /* max-width: 65rem; */
}
.btn-features {
  background-color: transparent;
  display: inline-block;
  border: none;
  font-size: 4.8rem;
  margin-bottom: 2rem;
  color: #ff1361;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
}
.btn-features:hover {
  color: #0fa;
  transform: scale(1.1);
}
.btn-active {
  color: #0fa;
  transform: scale(1.1);
}

.heading-secondary-heading {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ff1361;
  margin-left: 1.5rem;
}
.heading-secondary {
  margin-bottom: 7rem;
  font-size: 5.4rem;
  font-weight: 600;
  color: #4e0999;
}
.features-modal {
  text-align: center;
  display: none;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: 600;
  color: #111;
  padding: 2rem 6rem 7rem 6rem;
  max-width: 80rem;
  height: auto;
  opacity: 1;
  border-radius: 20px;
  border: 1px solid #fff800;
  box-shadow: 0 0 15px #fff800, 0 0 24px #ff1361, 10px 10px 40px #4e0999;
}
.feature-modal-active {
  display: inline-block;
  transition: ease-in-out 0.4s;
}

.features-box {
  text-align: center;
}
.heading-tertionary {
  margin-bottom: 4rem;
  font-size: 3.2rem;
  font-weight: 700;
  color: #1c0435;
}
.feature-description {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  color: #1c0435;
}
/*****************Rooms section******************/
/*****************************************************/
.rooms-section {
}
